<%= form_for [:admin, @service], local: true do |form| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@service.errors.count, "error") %> prohibited
        this service from being saved:
      </h2>
      <ul>
        <% @service.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.label :value %><br>
    <%= form.number_field :value %>
  </p>

  <p>
    <%  form.label :image %>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>