<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 mb-3">
  <a class="navbar-brand" href="/admin/services">ADMIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Usuários
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Listagem", admin_users_path, class:'dropdown-item' %>
          <%= link_to "Criar", new_admin_user_path, class:'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Serviços
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "Listagem", admin_services_path, class:'dropdown-item' %>
          <%= link_to "Criar", new_admin_service_path, class:'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item float-right">
        <%= link_to('Agendamentos', admin_appointments_path, class:"nav-link") %>
      </li>
      <li class="nav-item float-right">
        <%= link_to('Sair', destroy_user_session_path, class:"nav-link", method: :delete) %>
      </li>
    </ul>
  </div>
</nav>